<!DOCTYPE html>
<html>

<head>

    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    
    <style>
    body {
        background-color: #e2c9be;
        background-image: linear-gradient(315deg, #e2c9be 0%, #fbf7e9 74%);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Arial', sans-serif;
    }

    .event-card {
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
        border-radius: 15px;
        overflow: hidden;
        transition: transform 0.3s;
    }

    .event-card:hover {
        transform: translateY(-10px);
    }

    .gradient-btn {
        background: linear-gradient(45deg, #4CAF50, #44A1F2);
        border: none;
        color: white;
        padding: 12px 30px;
        border-radius: 30px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
        transition: all 0.3s;
    }

    .gradient-btn:hover {
        background: linear-gradient(45deg, #44A1F2, #4CAF50);
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
        transform: translateY(-2px);
    }

    .event-header {
        padding: 30px 20px;
        background-color: #4CAF50;
        color: white;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
        font-size: 2em;
        font-weight: bold;
        letter-spacing: 2px;
    }

    .event-content {
        padding: 30px 20px;
    }

    .highlight-text {
        color: rgb(8, 92, 120);
        padding: 5px 10px;
        border-radius: 10px;
        font-size: 1.5em;
        font-weight: bold;
    }

</style>
</head>

<script>
    // Function to add a new input field
    function add_field(fieldType) {
        const container = document.getElementById(`${fieldType}-container`);
        const newField = document.createElement("div");
        newField.innerHTML = `
            <%= text_field_tag 'email' %>
            <button type="button" onclick="remove_field(this)">Delete</button>
        `;
        container.appendChild(newField);
    }

    // Function to remove the clicked input field
    function remove_field(button) {
        const container = button.parentNode.parentNode;
        container.removeChild(button.parentNode);
    }
</script>

<body>
<%= form_with(model: @event) do |form| %>
  <% if @event.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% @event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="event-header">
    <h1 align = "center">Skhedule.com</h1>
</div>
<div class="event-card">
<div class="event-content">
  <div>
    <%= form.label "Event Name", style: "display: block" %>
    <%= form.text_field :name, class: 'form-input', id: 'Event Name', 
    value: @event.present? ? @event.name : ""%>
  </div>

  <div>
    <%= form.label "Event Venue", style: "display: block" %>
    <%= form.text_field :venue, class: 'form-input', id: 'Event Venue', 
    value: @event.event_info.present? ? @event.event_info.venue : "" %>
  </div>

  <div>
    <%= form.label "Event Date", style: "display: block" %>
    <%= form.date_field :date, class: 'form-input', id: 'Event Date',
    value: @event.event_info.present? ? @event.event_info.date : ""  %>
  </div>

  <div>
    <%= form.label "Max Capacity", style: "display: block" %>
    <%= form.number_field :max_capacity, in: 0..1000000000, step: 1, class: 'form-input', id: 'Event Time',
    value: @event.event_info.present? ? @event.event_info.max_capacity : ""  %>
  </div>

  <div>
    <%= form.label "Event Start Time", style: "display: block" %>
    <%= form.time_field :start_time, class: 'form-input', id: 'Event Time',
    value: @event.event_info.present? ? @event.event_info.start_time : ""  %>
  </div>

  <div>
    <%= form.label "Event End Time", style: "display: block" %>
    <%= form.time_field :end_time, class: 'form-input', id: 'Event Time',
    value: @event.event_info.present? ? @event.event_info.end_time : ""  %>
  </div>
  <br>
  
  <div>
    <%= form.label "Upload List of Emails (CSV)", style: "display: block" %>
    <%= form.file_field :csv_file %>
  </div>
  <br>
  <div>
    <h4 align = "center">
    <%= form.submit %>
    </h4>
  </div>
</div>
</div>
<% end %>
</body>
</html>