<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skhedule.com - Event Management</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body, html {
            height: 100%;
            margin: 0;
            font-family: 'Arial', sans-serif;
            background-color: #000; /* Black background for the whole page */
            color: #fff; /* White text color for better contrast */
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .event-card {
            background-color: #333; /* Dark background for the card */
            padding: 20px;
            border-radius: 10px; /* Rounded corners for the card */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
            width: auto; /* Width adjusted to content */
            max-width: auto;
            overflow-y: auto;
            margin: 0 auto; 
        }

        .gradient-btn {
            background-color: #555; /* Darker background for input and buttons */
            border: 1px solid #666; /* Slightly lighter border color */
            color: #fff; /* White text color */
            padding: 10px 20px;
            font-size: 16px; /* Font size for buttons */
            letter-spacing: 1px; /* Spacing between letters for buttons */
            border-radius: 5px; /* Rounded corners */
            transition: background-color 0.3s, transform 0.3s;
            margin: 10px auto;
            width: 250px;
            display: block;
            margin-bottom: 20px;
        }

        .gradient-btn:hover {
            background-color: #666; /* Slightly lighter on hover */
            cursor: pointer; /* Change cursor to pointer */
            transform: translateY(-2px); /* Moves button up slightly on hover */
        }

        .title {
            font-size: 40px;
            font-weight: bold;
            margin-bottom: 30px;
        }

        .subtitle {
            font-size: 24px;
            margin-bottom: 25px;
        }

        label {
            color: white;
            display: block;
            margin-top: 20px;
            font-size: 22px; /* Adjust the size as needed */
        }

        .form-input {
            background-color: #555; /* Darker background for input and buttons */
            border: 1px solid #666; /* Slightly lighter border color */
            color: #fff; /* White text color */
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border-radius: 5px;
            border: 1px solid #333;
            box-sizing: border-box;
            font-size: 22px; /* Adjust the size as needed */
        }

        @media (max-width: 768px) {
            .event-card {
                width: 95%;
                padding: 10px;
                margin: 10px auto;
                max-height: 90vh;
            }

            .form-input, .gradient-btn {
                width: calc(100% - 20px);
            }
        }

        /* Add this CSS for responsive two-column layout */
        .form-row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .form-row > div {
            width: calc(50% - 10px); /* Adjust the width and spacing as needed */
            box-sizing: border-box;
        }

        /* Adjust the width for smaller screens */
        @media (max-width: 768px) {
            .form-row > div {
                width: calc(100% - 20px);
                margin-bottom: 10px; /* Add some spacing between rows on smaller screens */
            }
        }
    </style>
</head>
<body>
    <div class="event-card">
        <div class="title">Event Creation</div>
        <div class="subtitle">Create your event with ease</div>
        <%= form_with(model: @event, local: true) do |form| %>
            <% if @event.errors.any? %>
                <div style="color: red">
                    <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
                    <ul>
                        <% @event.errors.full_messages.each do |error| %>
                            <li><%= error.full_message %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>

            <div class="form-row">
                <div>
                    <%= form.label :name, "Event Name" %>
                    <%= form.text_field :name, class: 'form-input', id: 'EventName', required: true, placeholder: 'Event Name' %>
                </div>

                <div>
                    <%= form.label :venue, "Event Venue" %>
                    <%= form.text_field :venue, class: 'form-input', id: 'EventVenue', required: true, placeholder: 'Event Venue', value: @event.event_info&.venue %>
                </div>

                <div>
                    <%= form.label :date, "Event Date" %>
                    <%= form.date_field :date, class: 'form-input', id: 'EventDate',
                        min: Date.today.strftime('%Y-%m-%d'),
                        value: @event.event_info.present? ? @event.event_info.date : "", required: true %>
                </div>

                <div>
                    <%= form.label :max_capacity, "Max Capacity" %>
                    <%= form.number_field :max_capacity, in: 1..1000000000, step: 1, class: 'form-input', id: 'EventMaxCapacity',
                        value: @event.event_info.present? ? @event.event_info.max_capacity : "", placeholder:"Max Capacity"%>
                </div>

                <div>
                    <%= form.label :start_time, "Event Start Time" %>
                    <%= form.time_field :start_time, class: 'form-input', id: 'EventStartTime', required: true, value: @event.event_info&.start_time&.strftime('%T.%L') %>
                </div>

                <div>
                    <%= form.label :end_time, "Event End Time" %>
                    <%= form.time_field :end_time, class: 'form-input', id: 'EventEndTime', required: true, value: @event.event_info&.end_time&.strftime('%T.%L') %>
                </div>

                <!-- Repeat the same pattern for other input fields -->
                
            </div>

            <div>
                <%= form.label :csv_file, "Upload List of Emails (Excel/CSV)" %>
                <%= form.file_field :csv_file, class: 'form-input', accept: '.csv, .xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet', required: true %>
            </div>


            <br>

            <div>
                <h4 align="center">
                    <%= form.submit "Submit", class: "gradient-btn", onclick: "return validateTime()" %>
                </h4>
            </div>
        <% end %>
    </div>

    <script>
        function validateTime() {
            var startTime = document.getElementById('EventStartTime').value;
            var endTime = document.getElementById('EventEndTime').value;

            if (startTime >= endTime) {
                alert('End time must be later than start time');
                return false;
            }
            return true;
        }
    </script>
</body>
</html>
