<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <style>
        body, html {
            margin: 0;
            padding: 0;
            font-family: 'Arial', sans-serif;
            background-color: #000; /* Black background for the whole page */
            color: #fff; /* White text color for better contrast */
            display: flex;
            flex-direction: column; /* Arrange content vertically */
            align-items: center;
            text-align: center;
        }

        .event-card {
            background-color: #333; /* Dark background for the card */
            padding: 20px;
            border-radius: 10px; /* Rounded corners for the card */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
            width: auto; /* Width adjusted to content */
            margin-bottom: 15px; /* Space between cards */
        }

        .event-header {
            padding: 20px;
            background-color: #555; /* Dark background for the header */
            color: #fff; /* White text for the header */
            border-bottom: 1px solid #666; /* Slightly lighter border color */
            font-size: 1.5em;
            font-weight: bold;
            letter-spacing: 1px;
            cursor: pointer; /* Make the event name clickable */
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .event-content {
            background-color: #555; /* Darker background for content */
            color: #fff; /* White text color */
            display: none; /* Hide the event details by default */
            padding: 20px; /* Adjust padding for better formatting */
        }

        .gradient-btn {
            background-color: #555; /* Button background */
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: all 0.3s;
        }

        .gradient-btn:hover {
            background-color: #666; /* Slightly lighter on hover */
            cursor: pointer; /* Change cursor to pointer */
            transform: translateY(-2px); /* Moves button up slightly on hover */
        }

        .transparent-btn {
            background-color: transparent;
            border: none;
            color: #bbb; /* Lighter text color */
        }

        .transparent-btn:hover {
            color: #fff; /* White color on hover */
        }

        .list-unstyled {
            padding-left: 0;
            list-style: none;
        }

        .attendee {
            margin-bottom: 10px;
        }

        /* Additional padding for the header */
        .dashboard-header {
            padding-bottom: 20px;
        }

    </style>
</head>

<body>
    <% if flash[:notice].present? %>
    <div class="alert alert-success" role="alert">
    <%= flash[:notice] %>
    </div>
    <% elsif flash[:alert].present? %>
    <div class="alert alert-danger" role="alert">
    <%= flash[:alert] %>
    </div>
    <% end %>
    <div class="event-dashboard">
        <div class="dashboard-header">
            <h1>Event Dashboard</h1>
            <div>
                <%= link_to "Back to Home", home_path, class: "gradient-btn" %>
            </div>
        </div>
        
        <ul>
            <% @events.each do |event| %>
                <% attending_count = 0 %>
                <% not_attending_count = 0 %>
                <li class="event-card">
                    <div class="event-header" onclick="toggleEventContent('<%= event.id %>')">
                        <h3><%= event.name %></h3>
                        <div class="event-actions">
                            <%= link_to edit_event_path(event),  class: "btn transparent-btn", role: "button" do %>
                                <i class="fas fa-pencil-alt"></i>
                            <% end %>
                            <%= button_to event, method: :delete, class: "btn transparent-btn", role: "button", onclick:"return confirm('Are you sure?')" do %>
                                <i class="fas fa-trash-alt"></i>
                            <% end %>
                        </div>
                    </div>                    
                    <div id="event-content-<%= event.id %>" class="event-content">
                        <h2>Event Details:</h2>
                        <div>
                            <h3> Date: <%= event.event_info&.date&.strftime('%A, %d %b %Y') %></h3>
                        </div>
                        <div>
                            <h3>Location: <%= event.event_info&.venue %></h3>
                        </div>
                        <div>
                            <% if event.time_slots.present? %>
                                <h3 class="event-col"><strong>Time Slots:</strong></h3>
                                <% event.time_slots.each do |time_slot| %>
                                    <h3 class="event-col">
                                        <%= %>

                                        <%= time_slot.start_time.strftime("%I:%M %p") + " - " + time_slot.end_time.strftime("%I:%M %p") +  "  " + time_slot.date.strftime("%m-%d-%y") %>
                                    </h3>
                                <% end %>
                            <% else %>
                                <h3>Time: <%= event.event_info&.start_time&.strftime('%I:%M %p') + " - " + event.event_info&.end_time&.strftime('%I:%M %p')%></h3>
                            <% end %>
                        </div>
                        <br> <!-- Line break for spacing -->
                        <div>
                            <h3>Yes/No Ratio: <span id="yes-count-<%= event.id %>">0</span> / <span id="no-count-<%= event.id %>">0</span></h3>
                        </div>
                        <div>
                            <% if event.event_info.max_capacity.present? %>
                                <h3>Max Capacity: <%= event.event_info&.max_capacity %></h3>
                            <% end %>
                        </div>
                        <br> <!-- Line break for spacing -->
                        <div>
                            <h3>Send Emails: <%= link_to 'Send Emails', invite_attendees_path(event) %></h3>
                        </div>
                        <div>
                            <h3>Send Reminder Email: <%= link_to 'Send Reminder Email', send_reminders_to_attendees_path(event) %></h3>
                        </div>
                        <h2>Attendees:</h2>
                        <ul class="list-unstyled">
                            <% event.attendee_infos.each do |attendee_info| %>
                                <li class="attendee">
                                    <strong><%= attendee_info&.name %></strong> -
                                    Email: <%= attendee_info&.email %><br>
                                    Status: <%= attendee_info&.is_attending == "yes" ? '<span class="text-success status">Attending</span>'.html_safe : (attendee_info&.is_attending == "no" ? '<span class="text-danger status">Not Attending</span>'.html_safe : '<span class="text-warning status">Pending</span>'.html_safe) %><br>
                                    <% if attendee_info&.is_attending == "yes" %>
                                        <% attending_count += 1 %>
                                    <% else %>
                                        <% not_attending_count += 1 %>
                                    <% end %>
                                    <% if attendee_info.time_slot.present? %>
                                        Time Slot Selected: <%= attendee_info.time_slot.start_time.strftime("%I:%M %p") + " - " + attendee_info.time_slot.end_time.strftime("%I:%M %p") +  "  " + attendee_info.time_slot.date.strftime("%m-%d-%y") %>
                                    <% end %>
                                </li>
                            <% end %>
                        </ul>
                        <div>
                            <%= button_to "Add to Google Calendar", create_event_path(event), method: :post, class: "gradient-btn", remote: true %>
                        </div>
                    </div>
                </li>
                <br> <!-- Line break for each event -->
            <% end %>
        </ul>
    </div>

    <script>
        function toggleEventContent(eventId) {
            var eventContent = document.getElementById("event-content-" + eventId);
            if (eventContent.style.display === "none" || eventContent.style.display === "") {
                eventContent.style.display = "block";
                var attendees = document.querySelectorAll("#event-content-" + eventId + " .attendee");
                var attendingCount = 0;
                var notAttendingCount = 0;
                attendees.forEach(function (attendee) {
                    var status = attendee.querySelector(".status").textContent.trim();
                    if (status === 'Attending') {
                        attendingCount++;
                    } else if (status === 'Not Attending') {
                        notAttendingCount++;
                    }
                });
                document.getElementById("yes-count-" + eventId).textContent = attendingCount;
                document.getElementById("no-count-" + eventId).textContent = notAttendingCount;
            } else {
                eventContent.style.display = "none";
            }
        }
    </script>
</body>

</html>
