<p style="color: green"><%= notice %></p>

<%= render @event %>

<div>
  <%= link_to "Edit this event", edit_event_path(@event) %> |
  <%= link_to "Back to events", events_path %>
  <br>
  <br>
  <%= button_to "Destroy this event", @event, method: :delete %>
  <br>
  <br>
  <%= button_to "Add list of people to our event", peopleList_path , method: :get %>
</div>
