<!DOCTYPE html>
<html>
<head>
    <style>
        /* Add some spacing between the buttons */
        button {
            margin-right: 20px;
            padding: 5px 10px; /* Adjust the padding to increase button size */
            font-size: 12px; /* Adjust the font size */
        }
        h3 {
            text-align: center;
            font-size: 20px;
        }
        .form-input {
            margin-top: 10px;
            padding: 5px 10px;
            margin-bottom: 10px; /* Adjust the margin as needed */
        }        
        body {
        /* Background color */
        background-color: #e2c9be; /* You can use the gradient color here */
        /* Background image */
        background-image: linear-gradient(315deg, #e2c9be 0%, #fbf7e9 74%); /* Replace with your downloaded image file */
        background-size: cover; /* Cover the entire viewport */
        background-repeat: no-repeat; /* Do not repeat the image */
        }
    </style>
</head>
<body>
<p style="color: green"><%= notice %></p>

<%= render @event %>

<div>
  <%= link_to "Edit this event", edit_event_path(@event) %> |
  <%= link_to "Back to events", events_path %>
  <br>
  <br>
  <%= button_to "Destroy this event", @event, method: :delete %>
  <br>
  <br>
  <%= button_to "Add list of people to our event", peopleList_path , method: :get %>
</div>
</body>
</html>