<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <style>
        body {
            background-color: #e2c9be;
            background-image: linear-gradient(315deg, #e2c9be 0%, #fbf7e9 74%);
            background-size: cover;
            background-repeat: no-repeat;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Arial', sans-serif;
        }

        .event-card {
            background-color: rgba(255, 255, 255, 0.9);
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
            border-radius: 15px;
            overflow: hidden;
            transition: transform 0.3s;
        }

        .event-card:hover {
            transform: translateY(-10px);
        }

        .gradient-btn {
            background: linear-gradient(45deg, #4CAF50, #44A1F2);
            border: none;
            color: white;
            padding: 12px 30px;
            border-radius: 30px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
            transition: all 0.3s;
        }

        .gradient-btn:hover {
            background: linear-gradient(45deg, #44A1F2, #4CAF50);
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
            transform: translateY(-2px);
        }

        .event-header {
            padding: 30px 20px;
            background-color: #4CAF50;
            color: white;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
            font-size: 2em;
            font-weight: bold;
            letter-spacing: 2px;
        }

        .event-content {
            padding: 30px 20px;
        }

        .highlight-text {
            color: rgb(8, 92, 120);
            padding: 5px 10px;
            border-radius: 10px;
            font-size: 1.5em;
            font-weight: bold;
        }

    </style>
</head>

<body>
    <div class="event-card">
        <div class="event-header">
            Event Reminder
        </div>
        <div class="event-content">
             <p class="text-center mb-4 highlight-text">This is a friendly reminder that you have a reservation to attend an upcoming event at  <strong><%= @event.event_info.venue %></strong>.</p>
             <br>
             <br>
             <p class="mb-3"><strong>Event:</strong> <%= @event.name %></p>
             <p class="mb-3"><strong>Date:</strong> <%= @event.event_info.date.strftime('%B %d, %Y, %H:%M %p') %> </p>
             <p class="mb-3"><strong>Start Time:</strong> <%= @event.event_info.start_time.strftime('%H:%M %p') %> </p>
             <p class="mb-3"><strong>End Time:</strong> <%= @event.event_info.end_time.strftime('%H:%M %p') %> </p>
             <p class="mb-3"><strong>Location:</strong> <%= @event.event_info.venue %></p>
        </div>
    </div>
</body>